@font-face {
    font-family: 'Clancy Headings';
    src: url("../fonts/clancy_headings.ttf");
}
@font-face {
    font-family: 'Clancy Text';
    src: url("../fonts/clancy_text.ttf");
}
body {
    color: #eaeaea;
    font-family: 'Clancy Text', monospace;
    font-size: 15px;
    text-align: center;
    background-color: #010101;
}
.highlight {
    font-size: 20px;
    background-color: #e03c31;
}
h1 {
    color: #e03c31;
    font-family: 'Clancy Headings', Impact, sans-serif;
    font-size: 200px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0px;
}
h2 {
    color: #ffd800;
    text-transform: uppercase;
}
p {
    margin: 0px 20% 40px;
}
a {
    color: #eaeaea;
}
a:hover {
    color: #ffd800;
}